<a href="https://colab.research.google.com/github/suthirikyaw/unit-1/blob/main/Chapter4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scores = [2, 3, 1, 0, 5, 3, 4, 2]
1. Print how many students passed 
2. Print the average score

In [ ]:
studentPassed = 0
sum = 0
for i in (2, 3, 1, 0, 5, 3, 4, 2):
    sum += i
    if i >= 4:
        studentPassed += 1

print("The number of students passed is: ", studentPassed)
print("The average score is: ", sum/8)

The number of students passed is:  2
The average score is:  2.5

Print out the odd numbers in a limit given by the user.

In [ ]:
n = int(input("Enter the limit: "))
for i in range(n+1):
  if i%2!=0:
    print(i)

Multiplication Table

In [ ]:
num = int(input("Enter a number: "))
print("\n")
msg = (f"Multiplication table for {num}")
print(msg)

len_msg = len(msg)
print("-"*len_msg)

for i in range(num+1):
  print(f"{num} x {i} = {num*i}")

Enter a number: 12


Multiplication table for 12
---------------------------
12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

Display a name in a banner of stars

In [ ]:
name = int(input("Enter your name: "))

top_bottom_line = ("*"*50)

In [ ]:
P = int(input("Enter initial amount: "))
r = float(input("Enter the interest rate (ex. 2%: "))
n = int(input("Enter the number of periods in a year (Ex. monthly = 12): "))
t = int(input("Enter period in years: "))

for year in range(t):
  A = P(1+(r/100)/n)**(n*year)
  print(f"year {year} amount {A} US")