<a href="https://colab.research.google.com/github/suthirikyaw/unit-1/blob/main/Programming_Practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Practice#1
① Write a program that calculates the addition of all integer numbers from 0 to 2021.

In [ ]:
n = int(input("Please enter an integer larger then zero: "))
total = (n*(n+1)/2)

print("The total is ", total)

Please enter an integer larger then zero: 8
The total is  36.0

② Write a program that calculates the value of y when the user enters a integer x

 y = 2*(x+3) - 3

In [ ]:
x = int(input("Please enter an integer greater than zero: "))

y = (2*(x+3)-3)

print("The solution to the equation 2(x+3)-3 is : ",y)

Please enter an integer greater than zero: 1
The solution to the equation 2(x+3)-3 is :  5

③ Write a program that asks the user for his name and grade and outputs the user’s email address at UWC Isak

In [ ]:
firstname = input("Please enter your first name: ")
lastname = input("Please enter your last name (if you can): ")
grade = int(input("Please enter your grade [10, 11, 12] : "))
year = (2034 - grade)
print(f"Your email address is {year}.{firstname}.{lastname}@uwcisak.jp")

Please enter your first name: Su
Please enter your last name (if you can): Kyaw
Please enter your grade [10, 11, 12] : 11
Your email address is 2023.Su.Kyaw@uwcisak.jp

④ Write a program that converts a temperature from Fahrenheit to Celsius.

In [4]:
f = int(input("Please enter the temperature in Fahrenheit: "))
c = (f-30)/2
print(f"The temperature in Celsius is: {c}")

Please enter the temperature in Fahrenheit: 45
The temperature in Celsius is: 7.5

⑤ Write a program to convert from miles to kilometers。

In [5]:
miles = int(input("Please enter the distance in miles: "))
km = miles*1.60934
print(f"The distance in kilometers is: {km}")

Please enter the distance in miles: 100
The distance in kilometers is: 160.934

⑥ Write a program that solves the Quadratic Equation for valid inputs a, b, c。

In [9]:
a = int(input("Please enter a value for a: "))
b = int(input("Please enter a value for b: "))
c = int(input("Please enter a value for c: "))
x = int(input("Please enter a value for x: "))
answer = (((a*x)^2)+(b*x)+c)
print(f"The answer for {a}({x})^2+{b}({x})+{c} = {answer}")

Please enter a value for a: 3
Please enter a value for b: 2
Please enter a value for c: 1
Please enter a value for x: 2
The answer for 3(2)^2+ 2(2) + 1 = 9

⑦ Write a program to reverse a number entered by the user。

In [17]:
number = int(input("Please enter a two digit number: "))
tens = int(number/10)
ones = number - (tens*10)
print(f"Your number in reverse is: {ones}{tens}")

Please enter a two digit number: 34
Your number in reverse is: 43

⑧ Write a program that asks the user for their name, age, nationality and produces a greeting message such as “Welcome John Doe you are 30 years old and a national of Colombia”

In [18]:
firstname = input("Please enter your first name: ")
lastname = input("Please enter your last name: ")
age = input("Please enter your age: ")
nationality = input("Please enter your nationality: ")
print(f"Welcome, {firstname} {lastname}! You are {age} years old and a national of {nationality}.")

Please enter your first name: Su
Please enter your last name: Kyaw
Please enter your age: 17
Please enter your nationality: Myanmar
Welcome, SuKyaw! You are 17 years old and a national of Myanmar


⑨ Create one more program that converts between different units.

In [21]:
yen = int(input("Please enter your money in Yen: "))
kyat = (yen*14.93)
print(f"{yen} in Burmese Kyat is {kyat}")

Please enter your money in Yen: 10
10 in Burmese Kyat is 149.3